<div 
  class="modal-backdrop" 
  *ngIf="isOpen" 
  (click)="close()" 
  (keydown)="onKeydown($event)"
  tabindex="-1"
  [@backdropAnimation]>
  <div 
    class="modal-container" 
    [@modalAnimation] 
    (click)="onModalContentClick($event)"
    role="dialog"
    aria-modal="true"
    [attr.aria-labelledby]="title ? 'modal-title' : null">
    
    <div class="modal-header">
      <h2 *ngIf="title" id="modal-title" class="modal-title">{{ title }}</h2>
      <button 
        type="button" 
        class="modal-close" 
        aria-label="Cerrar" 
        (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    
    <div class="modal-content">
      <ng-content></ng-content>
    </div>
  </div>
</div>
