@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.language-selector {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: var(--radius-md);
  padding: 0.5rem 0.8rem;

  .language-option {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-dark);
    font-size: 0.85rem;
    font-weight: 500;
    transition: color 0.2s ease;
    text-transform: uppercase;

    &:hover {
      color: var(--primary);
    }

    &.active {
      font-weight: 700;
      color: var(--primary);
    }

    .lang-code {
      padding: 0 0.3rem;
    }

    .separator {
      margin: 0 0.3rem;
      opacity: 0.6;
    }
  }

  .laguage-option-color {
    @media (max-width: 768px) {
      color: white;
    }
  }
}
